<div class="alert alert-primary">
    All fields are required
</div>
<div class="form-group">
    <label for="supplier_id">Supplier Id</label>
    <input value="{{bean.supplier_id}}" type="text" class="form-control" id="supplier_id" name="supplier_id" aria-describedby="nameHelp" placeholder="Enter supplier id">
    <small id="supplier_idHelp" class="form-text text-muted">Supplier Id for this bean</small>
</div>
<div class="form-group">
    <label for="type">Type</label>
    <input value="{{bean.type}}" type="text" class="form-control" id="type" name="type" aria-describedby="nameHelp" placeholder="Enter type">
    <small id="nameHelp" class="form-text text-muted">Type of this bean</small>
</div>
<div class="form-group">
    <label for="product_name">Product Name</label>
    <input value="{{bean.product_name}}" type="text" class="form-control" id="product_name" name="product_name" aria-describedby="product_nameHelp" placeholder="enter product name">
    <small id="product_nameHelp" class="form-text text-muted">Product name for this bean</small>
</div>
<div class="form-group">
    <label for="price">Price</label>
    <input value="{{bean.price}}" type="text" class="form-control" id="price" name="price" aria-describedby="priceHelp" placeholder="enter price">
    <small id="priceHelp" class="form-text text-muted">Price of the bean per product unit</small>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input value="{{bean.description}}" type="text" class="form-control" id="description" name="description" aria-describedby="descriptionHelp" placeholder="enter description">
    <small id="descriptionHelp" class="form-text text-muted">Description for the bean</small>
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input value="{{bean.quantity}}" type="text" class="form-control" id="quantity" name="quantity" aria-describedby="quantityHelp" placeholder="enter quantity">
    <small id="quantityHelp" class="form-text text-muted">Quantity of bean product unit</small>
</div>